@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
    }
}

.live-badge-pulse {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ef4444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: pulse-red 2s infinite;
}

.channel-scroll::-webkit-scrollbar {
    height: 6px;
}

.channel-scroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.channel-scroll::-webkit-scrollbar-thumb {
    background: var(--bg-deep-blue);
    border-radius: 3px;
}

.channel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid var(--primary-orange);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}